
div {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


li:hover {
  background-color: #ececec;
  cursor: pointer;
}

